@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DomaineDisplay-Bold';
  src: url('../fonts/DomaineDisplay-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src:
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Black.otf') format('otf'),
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Black.woff') format('woff'),
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Extrabold';
  src:
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Extrabld.otf') format('otf'),
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Extrabld.woff') format('woff'),
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Extrabld.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Black';
  src:
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Black.otf') format('otf'),
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Black.woff') format('woff'),
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Extrabld';
  src:
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Extrabld.otf') format('otf'),
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Extrabld.woff') format('woff'),
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Extrabld.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src:
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Light.otf') format('otf'),
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Light.woff') format('woff'),
          url('https://isistudio-public.s3.amazonaws.com/id19/fonts/ProximaNova-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}